@import "~bootstrap/scss/bootstrap";

$yellowML: #FFE600;
$negro: #333333;
$negro1: #666666;
$negro2: #999999;
$negro3: #EEEEEE;
$button: #3483FA;

html, body{
    height:100%;
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
  }

  .search {
    background-color: $negro3;
    padding-top: 16px;
    //height:100%;
    //width: 100%;
}

.searchRow {
    background-color: $yellowML;
    padding-top: 16px;
    width: 100vw;
}

.right {
    text-align: right;
}

.separator {
    --bs-breadcrumb-divider: '>';
}

.white {
    background-color: white;
}

.breadcrumb {
    font-size: 14;
    padding-top: 16px;
    padding-bottom: 16px;

}
.img-thumbnail  {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.left{
    text-align: left;
}

.price {
    padding-top: 32px;
    font-weight: bold;
    font-size: 24px;
    color: $negro;
}

.title {
    //padding-top: 32px;
    font-weight: bold;
    font-size: 18px;

}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }

  .city {
    padding-top: 44px;
    font-size: 12px;
    color: $negro;
  }

  .shipping {
      padding-left: 16px;
  }

  .link {
    text-decoration: none;
    color: $negro;
  }

  .sold_quantity {
    font-size: 14;
    padding-bottom: 14px;
    padding-left: 14px;
  }

  .titledetail {
    //padding-top: 32px;
    font-weight: bold;
    font-size: 24px; 
 }

 .pricedetail {
    font-weight: bold;
    font-size: 46px; 
 }

 .descriptiontitle {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 32px;
    padding-left: 32px;
 }

 .description {
    font-size: 16;
    padding-bottom: 32px;
    padding-left: 32px;
    text-align: justify;
    text-justify: inter-word;
 }

.button {
    background-color: $button;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
}